.WeatherForecast {
  text-align: center;
}

.WeatherForecast canvas {
  display: block;
  margin: 14px auto;
}

.WeatherForecast .Forecast-temp-min {
  opacity: 0.85;
  margin-left: 3px;
}

.WeatherForecast .Forecast-temp-max {
  color: rgba(28, 28, 28, 1);
}
